body nav ul {
	float: left;
	background-color: transparent;
	padding: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
}
body nav ul li {
	display: inline;
	padding: 5px;
		height: 100%;
}
body nav ul li div {
	border-bottom: none;
	width: 100%;
	background-size: auto 100%
	}

 * {
    margin: 0;
    padding: 0;
}
/*Navigation*/
 
#nav {
    font: 30px/30px Helvetica, sans-serif;
    text-align: center;
}
 
#nav a {
    opacity: 0.6;
	color : white;
	float: center;
	padding: 0;
	list-style-type: none;
	margin: 1;	
	text-transform: uppercase;
	font-style: normal;
	font-size: 14px;
	font-family: sans-serif;
	font-variant: small-caps;
	font-weight: initial;
	text-decoration: none;
	text-align: center;

	overflow: scroll;
}
 
#nav a:hover {
    opacity: 1.0;
	color: #FFCC00;
	text-shadow: 5px 5px 10px #1B1B1A;
	transition-duration: 0.25s;
}
 
/*Text Sections*/
.section {
    margin: 50px 0;
}
 
#mainpage .section h1 {
	position: absolute;
	top: 0;
}
#aboutme .section h1 {
	position: absolute;
	top: 105%;
}
#education .section h1 {
	position: absolute;
	top: 206%;
}
#contact .section h1 {
	position: absolute;
	top: 312%;
}



/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}
 
/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}
 
/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0px;
}

body nav ul li a:hover {
	opacity: 1.0;
	color: #FFCC00;
	text-shadow: 5px 5px 10px #1B1B1A;
	transition-duration: 0.25s;
}
body nav {
	text-align: center;
}
html,body {
	height:100%;
}
body {
	background-image: url(proba1.jpg);
	background-repeat:no-repeat;
	margin:0;
	height:100%;
	background-size:auto 100%;
}

#mainpage article h1 {
	color : white;
	float: center;
	padding: 0;
	margin: 1;	
	font-style: normal;
	font-size: 60px;
	text-transform: uppercase;
	font-family: Arial black;
	font-variant: small-caps;
	font-weight: center;
	text-decoration: none;
	text-shadow: 5px 5px 10px #1B1B1A;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
#aboutme {
	background-image: url(background3.jpg);
	background-repeat:no-repeat;
	margin:0;
	height:100%;
	background-size:auto 100%;
}
#aboutme article h1{
	color : white;
	float: center;
	padding: 0;
	margin: 1;	
	font-style: normal;
	font-size: 60px;
	text-transform: uppercase;
	font-family: Arial black;
	font-variant: small-caps;
	font-weight: center;
	text-decoration: none;
	text-shadow: 5px 5px 10px #1B1B1A;
	text-align: center;
	position: absolute;
	top: 150%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
#education{
	background-image: url(background4.jpg);
	background-repeat:no-repeat;
	margin:0;
	height:100%;
	background-size:auto 100%;
}
#education article h1{
	color : white;
	float: center;
	padding: 0;
	margin: 1;	
	font-style: normal;
	font-size: 60px;
	text-transform: uppercase;
	font-family: Arial black;
	font-variant: small-caps;
	font-weight: center;
	text-decoration: none;
	text-shadow: 5px 5px 10px #1B1B1A;
	text-align: center;
	position: absolute;
	top: 250%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
#contact{
	background-image: url(backcontact.jpg);
	background-repeat:no-repeat;
	margin:0;
	height:100%;
	background-size:auto 100%;
}
#contact article h1{
	color : white;
	float: center;
	padding: 0;
	margin: 1;	
	font-style: normal;
	font-size: 60px;
	text-transform: uppercase;
	font-family: Arial black;
	font-variant: small-caps;
	font-weight: center;
	text-decoration: none;
	text-shadow: 5px 5px 10px #1B1B1A;
	text-align: center;
	position: absolute;
	top: 350%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);

}
